In [182]:
import numpy as np
import pandas as pd

company_ar_alterstockinfo = pd.read_csv('company_ar_alterstockinfo.csv', dtype = object)

factor1 = []
df_factor1 = pd.DataFrame()

for name in company_ar_alterstockinfo['entid'].unique():
    subdata = company_ar_alterstockinfo[company_ar_alterstockinfo['entid'] == name]
    transsum = 0
    for i in range(len(subdata)):
        trans = float(subdata.iloc[i,4])-float(subdata.iloc[i,3])
        if trans < 0:
            trans = trans * (-2) # double weight for negatives
        transsum += trans
    factor1.append(transsum)
    
df_factor1['entid'] = pd.Series(company_ar_alterstockinfo['entid'].unique())
df_factor1['weighted_sum_trans_equity'] = pd.Series(factor1)
print(df_factor1)

          entid  weighted_sum_trans_equity
0     959830672                 304.897980
1     658987796                 212.761467
2     805505073                 116.582116
3     923269747                 195.168771
4     755521214                 300.990160
...         ...                        ...
1175  100040678                 300.485293
1176  517302402                 193.330777
1177  708549128                  94.231422
1178  791477068                  55.524564
1179  771018416                   7.599308

[1180 rows x 2 columns]

In [183]:
company_ar = pd.read_csv('company_ar.csv', dtype = object)
factor2 = []
df_factor2 = pd.DataFrame()
for name in company_ar['entid'].unique():
    subdata = company_ar[company_ar['entid'] == name]
    femaleratio = []
    for i in range(len(subdata)):
        femaleratio.append(np.divide(float(subdata.iloc[i,4]),float(subdata.iloc[i,3])))
    a = np.array(femaleratio)
    femaleratioavg = np.mean(a[a<10])
    factor2.append(femaleratioavg)
df_factor2['entid'] = pd.Series(company_ar['entid'].unique())
df_factor2['female_male_ratio'] = pd.Series(factor2)
print(df_factor2)

/opt/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3419: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
<ipython-input-183-a5dbe90ec821>:8: RuntimeWarning: divide by zero encountered in true_divide
  femaleratio.append(np.divide(float(subdata.iloc[i,4]),float(subdata.iloc[i,3])))
<ipython-input-183-a5dbe90ec821>:8: RuntimeWarning: invalid value encountered in true_divide
  femaleratio.append(np.divide(float(subdata.iloc[i,4]),float(subdata.iloc[i,3])))

            entid  female_male_ratio
0       225394176           0.618228
1       671369696           0.734641
2       482394235                NaN
3       257560956           3.500000
4      1098183164           0.269841
...           ...                ...
11288   331374714           0.500000
11289   258782837           0.875000
11290   953167527           0.090909
11291   845726363           0.222222
11292    29415183           0.500000

[11293 rows x 2 columns]

In [187]:
company_ar_assetsinfo = pd.read_csv('company_ar_assetsinfo.csv', dtype = object)
company_ar_assetsinfo
df_factor3 = pd.DataFrame()
factor31 = []
factor32 = []
factor33 = []
factor34 = []
factor35 = []
for name in company_ar_assetsinfo['entid'].unique():
    subdata = company_ar_assetsinfo[company_ar_assetsinfo['entid'] == name]
    gross_assets = []
    liability_assets_ratio = []
    oper_inc_net_inc_ratio = []
    main_busi_net_inc_ratio = []
    profit_net_inc_ratio = []
    for i in range(len(subdata)):
        gross_assets.append(float(subdata.iloc[i,3]))
        liability_assets_ratio.append(np.divide(float(subdata.iloc[i,4]),float(subdata.iloc[i,3])))
        oper_inc_net_inc_ratio.append(np.divide(float(subdata.iloc[i,5]),float(subdata.iloc[i,8])))
        main_busi_net_inc_ratio.append(np.divide(float(subdata.iloc[i,6]),float(subdata.iloc[i,8])))
        profit_net_inc_ratio.append(np.divide(float(subdata.iloc[i,7]),float(subdata.iloc[i,8])))
    factor31.append(pd.Series(gross_assets).replace([np.inf,-np.inf],np.nan).mean())
    factor32.append(pd.Series(liability_assets_ratio).replace([np.inf,-np.inf],np.nan).mean())
    factor33.append(pd.Series(oper_inc_net_inc_ratio).replace([np.inf,-np.inf],np.nan).mean())
    factor34.append(pd.Series(main_busi_net_inc_ratio).replace([np.inf,-np.inf],np.nan).mean())
    factor35.append(pd.Series(profit_net_inc_ratio).replace([np.inf,-np.inf],np.nan).mean())
df_factor3['entid'] = pd.Series(company_ar_assetsinfo['entid'].unique())
df_factor3['gross_assets'] = pd.Series(factor31)
df_factor3['liability_assets_ratio'] = pd.Series(factor32)
df_factor3['oper_inc_net_inc_ratio'] = pd.Series(factor33)
df_factor3['main_busi_net_inc_ratio'] = pd.Series(factor34)
df_factor3['profit_net_inc_ratio'] = pd.Series(factor35)
print(df_factor3)

           entid  gross_assets  liability_assets_ratio  \
0      932526009    100.243009               -0.009553
1       47765794   1986.012853                1.000314
2      100233421     -0.155075                2.337819
3      307832564      0.096310                6.438100
4      368872124    500.113765               -0.003060
...          ...           ...                     ...
2313   969920256    100.494672                0.003168
2314   487075423     -0.618614               -0.284669
2315  1031197118           NaN                     NaN
2316   313967587           NaN                     NaN
2317     4931578           NaN                     NaN

      oper_inc_net_inc_ratio  main_busi_net_inc_ratio  profit_net_inc_ratio
0                   1.245896                 0.311445              1.335407
1                  -2.888378                -3.294305              0.229887
2                   0.310917                 1.025428              0.132572
3                  -4.212667                 2.691120              3.092262
4                  -0.879347               -17.126735            -11.037258
...                      ...                      ...                   ...
2313               50.079628                50.087004              1.052982
2314               -0.906193                 1.547905             -0.097570
2315                     NaN                      NaN                   NaN
2316                     NaN                      NaN                   NaN
2317                     NaN                      NaN                   NaN

[2318 rows x 6 columns]

In [210]:
company_ar_nz = pd.read_csv('company_ar_nz.csv', dtype = object)
df_factor4 = pd.DataFrame()
factor41 = []
factor42 = []
for name in company_ar_nz['entid'].unique():
    subdata = company_ar_nz[company_ar_nz['entid'] == name]
    farmer_ratio = []
    new_farmer_ratio = []
    for i in range(len(subdata)):
        farmer_ratio.append(np.divide(float(subdata.iloc[i,2]),float(subdata.iloc[i,1])))
        new_farmer_ratio.append(np.divide(float(subdata.iloc[i,3]),float(subdata.iloc[i,4])))
    factor41.append(pd.Series(farmer_ratio).replace([np.inf,-np.inf],np.nan).mean())
    factor42.append(pd.Series(new_farmer_ratio).replace([np.inf,-np.inf],np.nan).mean())
df_factor4['entid'] = pd.Series(company_ar_nz['entid'].unique())
df_factor4['farmer_ratio'] = pd.Series(factor41)
df_factor4['new_farmer_ratio'] = pd.Series(factor42)
print(df_factor4)

<ipython-input-210-63af23a01e09>:11: RuntimeWarning: divide by zero encountered in true_divide
  new_farmer_ratio.append(np.divide(float(subdata.iloc[i,3]),float(subdata.iloc[i,4])))
<ipython-input-210-63af23a01e09>:11: RuntimeWarning: invalid value encountered in true_divide
  new_farmer_ratio.append(np.divide(float(subdata.iloc[i,3]),float(subdata.iloc[i,4])))

          entid  farmer_ratio  new_farmer_ratio
0     284392751      0.683021          2.527778
1       5601451      1.138889          0.947917
2      71431647      0.983283          1.138889
3     544187338      0.990845          2.666667
4    1233927067      1.198499          3.738095
..          ...           ...               ...
458  1099286925      1.135714          8.000000
459    20689540      1.327778          2.750000
460   741962989      0.977124          0.375000
461   736068225      1.857143          0.142857
462   976281343      0.357143          1.600000

[463 rows x 3 columns]

<ipython-input-210-63af23a01e09>:10: RuntimeWarning: divide by zero encountered in true_divide
  farmer_ratio.append(np.divide(float(subdata.iloc[i,2]),float(subdata.iloc[i,1])))

In [236]:
company_base_info = pd.read_csv('company_base_info.csv', dtype = object)
df_factor5 = pd.DataFrame()
factor51 = []
factor52 = []
factor53 = []
for name in company_base_info['entid'].unique():
    subdata = company_base_info[company_base_info['entid'] == name]
    regis_capital = []
    paidin_capital = []
    certif = []
    for i in range(len(subdata)):
        regis_capital.append(float(subdata.iloc[i,7]))
        paidin_capital.append(float(subdata.iloc[i,9]))
        certif.append(float(subdata.iloc[i,16]))
    factor51.append(pd.Series(regis_capital).replace([np.inf,-np.inf],np.nan).mean())
    factor52.append(pd.Series(paidin_capital).replace([np.inf,-np.inf],np.nan).mean())
    factor53.append(pd.Series(certif).replace([np.inf,-np.inf],np.nan).mean())
df_factor5['entid'] = pd.Series(company_base_info['entid'].unique())
df_factor5['regis_capital'] = pd.Series(factor51)
df_factor5['paidin_capital'] = pd.Series(factor52)
df_factor5['certif'] = pd.Series(factor53)
print(df_factor5)

            entid  regis_capital  paidin_capital  certif
0       122697049      8103057.4       4700000.0     4.0
1       959830672        38000.0          1000.0     2.0
2       564421968         5000.0          5000.0     NaN
3       620868429        10000.0         10000.0     NaN
4      1176966297         3000.0          3000.0     NaN
...           ...            ...             ...     ...
12274   208371641           20.0             NaN     NaN
12275   331374714            NaN             NaN     NaN
12276   470500045           50.0           500.0     NaN
12277   771018416            NaN             NaN     NaN
12278  1091303326            NaN             NaN     NaN

[12279 rows x 4 columns]

In [241]:
company_modify = pd.read_csv('company_modify.csv', dtype = object)
df_factor6 = pd.DataFrame()
factor61 = []
for name in company_modify['entid'].unique():
    factor61.append(sum(company_modify['entid'] == name))
df_factor6['entid'] = pd.Series(company_modify['entid'].unique())
df_factor6['modify_times'] = pd.Series(factor61)
df_factor6

           entid  modify_times
0      122697049            13
1      959830672            22
2      620868429             1
3     1176966297             9
4      658987796            19
...          ...           ...
7895   282661398             5
7896   572036420             4
7897   580851840             1
7898   449281277             2
7899    99502400             3

[7900 rows x 2 columns]

In [260]:
tax_abnormal = pd.read_csv('tax_abnormal.csv', dtype = object)
tax_qianshui = pd.read_csv('tax_qianshui.csv', dtype = object)
df_factor7 = pd.DataFrame()
factor71 = []
factor72 = []
df_factor7['entid'] = label_risk_company['entid']
abnormal_appear = tax_abnormal['entid'].unique()
qianshui_appear = tax_qianshui['entid'].unique()
df_factor7['tax_abnormal'] = 0
df_factor7['tax_qianshui'] = 0
for i in range(len(df_factor7)):
    if df_factor7.iloc[i,0] in abnormal_appear:
        df_factor7.iloc[i,1] = 1
    if df_factor7.iloc[i,0] in qianshui_appear:
        df_factor7.iloc[i,2] = 1
df_factor7

           entid  tax_abnormal  tax_qianshui
0     1189743165             0             0
1      881639012             0             0
2       40238525             0             0
3      325265909             0             0
4      908247590             0             0
...          ...           ...           ...
2080   747194624             0             0
2081   769985674             0             0
2082  1052219378             0             0
2083   770023067             0             0
2084   448809767             0             0

[2085 rows x 3 columns]

In [270]:
from scipy import stats
df_factor8 = pd.DataFrame()
tax_company = pd.read_csv('tax_company.csv', dtype = object)
tax_company = tax_company[['entid','registertype','economic_type']]
register = []
economic = []
for name in tax_company['entid'].unique():
    subdata = tax_company[tax_company['entid'] == name]
    register_type_value = float(stats.mode(np.array(subdata['registertype']))[0])
    economic_type_value = float(stats.mode(np.array(subdata['economic_type']))[0])
    register.append(register_type_value)
    economic.append(economic_type_value)
df_factor8['entid'] = tax_company['entid'].unique()
df_factor8['register_type'] = pd.Series(register)
df_factor8['economic_type'] = pd.Series(economic)
df_factor8

           entid  register_type  economic_type
0      122697049           15.0          168.0
1      959830672           19.0          206.0
2      620868429            8.0          182.0
3     1176966297           26.0          171.0
4      658987796            8.0          206.0
...          ...            ...            ...
8323    24922404           20.0         1057.0
8324   462395932           20.0         1426.0
8325   517302402            9.0         1163.0
8326   425628133           20.0         1309.0
8327   300562464           20.0         1017.0

[8328 rows x 3 columns]

In [290]:
tax_year = pd.read_csv('tax_year.csv', dtype = object)
tax_year = tax_year[['entid','profit_loss','fair_value_change','operation_profit','total_profit','assets_re']]
df_factor9 = pd.DataFrame()
df_factor9['entid'] = tax_year['entid'].unique()
factor91 = []
factor92 = []
factor93 = []
factor94 = []
factor95 = []
for name in tax_year['entid'].unique():
    pnl_dummy = []
    fair_value_change = []
    oper_total_profit_ratio = []
    total_profit = []
    asset_re = []
    subdata = tax_year[tax_year['entid'] == name]
    for i in range(len(subdata)):
        pnl_dummy.append(np.sign(float(subdata.iloc[i,1])))
        fair_value_change.append(float(subdata.iloc[i,2]))
        oper_total_profit_ratio.append(np.divide(float(subdata.iloc[i,3]),float(subdata.iloc[i,4])))
        total_profit.append(float(subdata.iloc[i,4]))
        asset_re.append(float(subdata.iloc[i,5]))
    factor91.append(pd.Series(pnl_dummy).replace([np.inf,-np.inf],np.nan).mean())
    factor92.append(pd.Series(fair_value_change).replace([np.inf,-np.inf],np.nan).mean())
    factor93.append(pd.Series(oper_total_profit_ratio).replace([np.inf,-np.inf],np.nan).mean())
    factor94.append(pd.Series(total_profit).replace([np.inf,-np.inf],np.nan).mean())
    factor95.append(pd.Series(asset_re).replace([np.inf,-np.inf],np.nan).mean())
df_factor9['pnl_dummy'] = pd.Series(factor91)
df_factor9['fair_value_change'] = pd.Series(factor92)
df_factor9['oper_total_profit_ratio'] = pd.Series(factor93)
df_factor9['total_profit'] = pd.Series(factor94)
df_factor9['asset_re'] = pd.Series(factor95)
df_factor9

,entid,pnl_dummy,fair_value_change,oper_total_profit_ratio,total_profit,asset_re
0,122697049,1.000000,-1.096350e+08,1.029766,4.514267e+10,5.461307e+12
1,959830672,0.600000,-5.630721e-01,0.221744,-2.487812e+06,9.750011e+07
2,620868429,-0.666667,-6.238423e-02,0.995007,4.943944e+06,6.018250e+07
3,1176966297,-0.200000,2.699608e-01,1.005666,1.450439e+06,2.453362e+07
4,658987796,0.000000,-8.004033e-01,1.135821,-5.285183e+07,9.166679e+07
...,...,...,...,...,...,...
8203,462395932,-1.000000,-5.943429e-01,1.254838,-8.120143e+03,2.179958e+04
8204,517302402,1.000000,3.716977e-01,60.371918,-3.699999e-02,-1.031598e+00
8205,425628133,1.000000,-1.153910e+00,1.067655,-3.724052e+04,1.240107e+04
8206,300562464,0.333333,-1.776400e-01,0.331844,-2.081196e+03,2.500005e+05
8207,331374714,0.333333,6.075553e-01,1.000540,8.871239e+04,1.271500e+06

In [291]:
label_risk_company = pd.read_csv('label_risk_company.csv', dtype = object)
del label_risk_company['id']
df = df_factor1.merge(df_factor2, how = 'outer', on = 'entid')\
               .merge(df_factor3, how = 'outer', on = 'entid')\
               .merge(df_factor4, how = 'outer', on = 'entid')\
               .merge(df_factor5, how = 'outer', on = 'entid')\
               .merge(df_factor6, how = 'outer', on = 'entid')\
               .merge(df_factor7, how = 'outer', on = 'entid')\
               .merge(df_factor8, how = 'outer', on = 'entid')\
               .merge(df_factor9, how = 'outer', on = 'entid')

df_test1 = pd.merge(label_risk_company, df, how = 'left', on = ['entid'])
print(df_test1)
df_test1.to_csv(sep = ',', index=False, path_or_buf = '/Users/zhangjihao/Desktop/training_dataset.csv' )

           entid CaseType  weighted_sum_trans_equity  female_male_ratio  \
0     1189743165        3                        NaN           0.693182
1      881639012        3                        NaN                NaN
2       40238525        0                        NaN           0.666667
3      325265909        3                        NaN                NaN
4      908247590        2                        NaN                NaN
...          ...      ...                        ...                ...
2148   747194624        3                        NaN           0.600000
2149   769985674        3                        NaN                NaN
2150  1052219378        3                        NaN                NaN
2151   770023067        3                        NaN                NaN
2152   448809767        3                        NaN                NaN

      gross_assets  liability_assets_ratio  oper_inc_net_inc_ratio  \
0              NaN                     NaN                6.939196
1              NaN                     NaN                     NaN
2         0.060241                1.302815               -0.058013
3              NaN                     NaN                     NaN
4              NaN                     NaN                     NaN
...            ...                     ...                     ...
2148           NaN                     NaN                     NaN
2149           NaN                     NaN                     NaN
2150           NaN                     NaN                     NaN
2151           NaN                     NaN                     NaN
2152           NaN                     NaN                     NaN

      main_busi_net_inc_ratio  profit_net_inc_ratio  farmer_ratio  ...  \
0                    7.050167                   NaN           NaN  ...
1                         NaN                   NaN           NaN  ...
2                    0.135313             -0.202982           NaN  ...
3                         NaN                   NaN           NaN  ...
4                         NaN                   NaN           NaN  ...
...                       ...                   ...           ...  ...
2148                      NaN                   NaN           NaN  ...
2149                      NaN                   NaN           NaN  ...
2150                      NaN                   NaN           NaN  ...
2151                      NaN                   NaN           NaN  ...
2152                      NaN                   NaN           NaN  ...

      modify_times  tax_abnormal  tax_qianshui  register_type  economic_type  \
0             35.0           0.0           0.0            NaN            NaN
1              1.0           0.0           0.0            8.0          211.0
2              NaN           0.0           0.0            NaN            NaN
3              3.0           0.0           0.0            NaN            NaN
4              NaN           0.0           0.0           19.0          222.0
...            ...           ...           ...            ...            ...
2148           NaN           0.0           0.0            NaN            NaN
2149           NaN           0.0           0.0            NaN            NaN
2150          47.0           0.0           0.0            NaN            NaN
2151           NaN           0.0           0.0            8.0          206.0
2152           NaN           0.0           0.0            NaN            NaN

      pnl_dummy  fair_value_change  oper_total_profit_ratio  total_profit  \
0           NaN                NaN                      NaN           NaN
1          -1.0          -0.302624                 1.635257      0.437869
2           NaN                NaN                      NaN           NaN
3           NaN                NaN                      NaN           NaN
4          -1.0           1.114996                -0.253746     -1.375862
...         ...                ...                      ...           ...
2148        NaN                NaN                      NaN           NaN
2149        NaN                NaN                      NaN           NaN
2150        NaN                NaN                      NaN           NaN
2151        1.0           1.734513                 1.007822      0.335176
2152        NaN                NaN                      NaN           NaN

      asset_re
0          NaN
1    -0.575773
2          NaN
3          NaN
4    -0.347430
...        ...
2148       NaN
2149       NaN
2150       NaN
2151  0.734650
2152       NaN

[2153 rows x 24 columns]

In [298]:
test_data = pd.read_csv('test_data.csv', dtype = object)
df_training = pd.merge(test_data, df, how = 'left', on = ['entid'])
df_training.drop(columns=['farmer_ratio','new_farmer_ratio','tax_qianshui'])
df_training.to_csv(sep = ',', index=False, path_or_buf = '/Users/zhangjihao/Desktop/test_dataset_without_answer.csv' )

In [121]:
from scipy.stats import norm
def MertonModel(debt, asset, mu = 0.1, T = 1, sigma):
    a = (np.log(debt)-np.log(asset)-mu*T-0.5*(sigma**2)*T)/(sigma*np.sqrt(T))
    return norm.cdf(a)

In [311]:
df_factor3['gross_liability'] = df_factor3['gross_assets']*df_factor3['liability_assets_ratio']
sigma = df_factor3['gross_assets'].dropna().std()
df_feature = pd.DataFrame()
df_feature['entid'] = df_factor3['entid']
prob_of_defult = []
for i in range(len(df_feature['entid'])):
    assets = df_factor3.iloc[i,1]
    debt = df_factor3.iloc[i,6]
    prob_of_defult.append(MertonModel(debt = debt, asset = assets, mu = 0.1, T = 1, sigma = 0.1))
prob_of_defult

<ipython-input-121-ccd9f02db537>:3: RuntimeWarning: invalid value encountered in log
  a = (np.log(debt)-np.log(asset)-mu*T-0.5*(sigma**2)*T)/(sigma*np.sqrt(T))

[nan,
 0.1475812589461969,
 nan,
 1.0,
 nan,
 3.790304983106103e-07,
 4.2736486505406317e-16,
 0.3583791983857395,
 1.1166223926713353e-288,
 nan,
 0.0,
 0.0,
 0.0,
 0.0,
 1.6883241053616886e-76,
 0.15976984926199683,
 0.056951758758746314,
 nan,
 nan,
 nan,
 1.0,
 1.4042604394721019e-43,
 0.0,
 2.2889325710960802e-08,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 1.676558160814457e-287,
 0.0,
 0.0,
 nan,
 1.937344683203101e-177,
 nan,
 0.0,
 0.0,
 nan,
 0.0,
 0.23431980480557407,
 nan,
 0.0,
 nan,
 0.0,
 0.11870719015108572,
 nan,
 nan,
 3.352194501065265e-162,
 nan,
 0.1550507202842592,
 0.0,
 3.264955949825833e-05,
 1.7276357999727528e-218,
 0.0,
 nan,
 nan,
 nan,
 1.0,
 0.0,
 6.04652364381719e-72,
 nan,
 7.209231965459498e-49,
 8.37945277745747e-05,
 0.1009250027378834,
 1.7326608333960052e-07,
 0.0,
 0.9999999998975093,
 nan,
 0.0,
 nan,
 3.999201735101216e-38,
 nan,
 nan,
 3.459289311798485e-17,
 1.0225938734911172e-18,
 0.0,
 0.0,
 8.07971798335399e-20,
 0.0,
 7.847473583456346e-149,
 0.0,
 8.087422828144123e-209,
 nan,
 1.1184623050741871e-64,
 0.0,
 0.0,
 0.002030126636290376,
 nan,
 7.940837619390017e-28,
 9.358906345746446e-18,
 1.3639445191488808e-09,
 0.030478986057538678,
 1.695858975371468e-15,
 nan,
 1.0,
 0.0,
 5.421815512434091e-44,
 0.0,
 7.997820509407761e-30,
 0.0,
 1.8492518513180776e-265,
 nan,
 0.0004944423766523434,
 3.6470644623547756e-154,
 nan,
 nan,
 1.1984121944062926e-126,
 nan,
 nan,
 nan,
 1.952218649500275e-61,
 nan,
 nan,
 3.08966577162391e-26,
 0.0,
 2.551563813447406e-13,
 nan,
 0.8933322428140894,
 0.0,
 1.3927433138497097e-194,
 0.0,
 nan,
 nan,
 nan,
 0.0,
 0.915464828934003,
 1.3980982764848548e-33,
 2.880863105251201e-06,
 0.0,
 nan,
 nan,
 5.126840186831888e-188,
 nan,
 0.13955047031353535,
 0.0005665219128189897,
 0.20920198088260727,
 nan,
 nan,
 0.039451575462704495,
 nan,
 0.0,
 0.45506872405232635,
 nan,
 nan,
 9.065819421273612e-20,
 nan,
 0.1472684943779533,
 0.0,
 0.0,
 0.0,
 nan,
 0.0,
 1.9434772426458924e-07,
 0.023610636325700575,
 0.0,
 7.418612173965142e-284,
 nan,
 1.3135558457793337e-61,
 nan,
 0.09075540945844135,
 0.15369456760982092,
 1.2454478290847574e-258,
 nan,
 1.0,
 3.3624465653037544e-41,
 4.741325378277386e-69,
 1.3796432891454614e-08,
 1.0,
 0.0,
 0.9999999298488162,
 5.679173642086063e-142,
 3.098391807150872e-29,
 1.475079146074269e-149,
 4.1282256569606004e-213,
 nan,
 nan,
 nan,
 nan,
 1.712584242527712e-14,
 0.0,
 nan,
 nan,
 0.23426980165495875,
 3.8039824960975137e-137,
 0.0,
 nan,
 0.4009752128275574,
 2.935976171037739e-07,
 9.006207072905987e-16,
 0.0,
 nan,
 nan,
 nan,
 nan,
 0.0,
 0.011437662180804362,
 0.00022817470081742077,
 0.1468491820827148,
 0.0,
 1.476257228913826e-07,
 nan,
 0.994331571138117,
 nan,
 nan,
 0.0,
 0.9999999991019384,
 0.12396708301868109,
 nan,
 0.0,
 2.8933712239379394e-29,
 nan,
 nan,
 1.1962460010174544e-233,
 nan,
 0.0,
 0.0,
 nan,
 nan,
 1.8244543814668348e-122,
 nan,
 1.0,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 0.0,
 5.670738314893469e-66,
 0.0,
 0.0,
 5.451393421623075e-283,
 0.0,
 nan,
 nan,
 1.547095645353881e-73,
 1.3793935218925996e-18,
 0.0,
 0.0,
 0.04482472065607482,
 0.9999990471079168,
 nan,
 nan,
 8.787243406682411e-53,
 3.178367415327923e-08,
 7.591732852649122e-82,
 1.4004408666777717e-122,
 nan,
 8.447334533254591e-17,
 0.0,
 nan,
 5.160826370635546e-18,
 0.0007337276584179983,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 0.0,
 8.061791727181272e-12,
 0.0,
 nan,
 nan,
 0.0,
 0.0,
 0.6219058335369514,
 1.0,
 0.0,
 9.04460419666866e-60,
 nan,
 0.0,
 1.0,
 0.0,
 nan,
 1.6005347520748143e-10,
 6.956425798850937e-44,
 nan,
 nan,
 nan,
 nan,
 1.0,
 0.0,
 nan,
 0.0,
 nan,
 nan,
 2.2450327654004044e-136,
 nan,
 nan,
 nan,
 nan,
 nan,
 6.052953469991541e-239,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 6.021731152561568e-12,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.21779777374022086,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 1.1588945466949187e-33,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 5.7041860194160504e-217,
 nan,
 nan,
 0.998000301973242,
 9.259036400097784e-73,
 nan,
 4.038450550591777e-06,
 nan,
 0.001427523090429447,
 nan,
 0.0,
 0.9996629171097314,
 nan,
 nan,
 0.9999999999999998,
 nan,
 5.387247171540417e-154,
 1.8575892309277334e-41,
 5.098188872222952e-50,
 0.9361510398756148,
 0.9446742678612581,
 nan,
 0.0,
 2.6493736476842316e-34,
 0.35570121199793014,
 0.14924343173565774,
 nan,
 nan,
 3.310354861596868e-30,
 nan,
 0.0,
 0.002519293636236101,
 nan,
 nan,
 0.0,
 0.7072171802409833,
 1.0,
 1.2386711828754321e-59,
 nan,
 nan,
 3.241544835074717e-18,
 0.0,
 0.9976707880803564,
 nan,
 8.639331768116998e-95,
 0.0,
 2.9231987940719564e-16,
 1.035449305568811e-112,
 6.562059519027412e-29,
 3.48014100176802e-61,
 1.6035891393711216e-170,
 0.048192182885827176,
 3.9688910226485245e-08,
 2.73217344904832e-60,
 2.6466805361689342e-55,
 nan,
 1.1374064603996369e-05,
 5.269846812001084e-56,
 nan,
 nan,
 0.0018327575069251644,
 1.44047522104958e-45,
 nan,
 nan,
 4.5289262245539796e-182,
 2.3795448123472387e-12,
 1.2929677781436271e-05,
 0.9976255471794783,
 2.5575222553620615e-23,
 nan,
 0.0034896472306664593,
 0.6563017267898745,
 3.4250820661302087e-17,
 5.922465792502352e-16,
 nan,
 nan,
 0.2543944976713508,
 nan,
 0.11304564589853755,
 0.0,
 nan,
 0.0,
 1.4209462790689355e-26,
 4.879832613721555e-221,
 nan,
 4.044320636976256e-18,
 5.905397624455064e-60,
 nan,
 4.87059292450037e-33,
 3.220909588540976e-06,
 nan,
 1.715901232566685e-09,
 nan,
 0.009610121733272834,
 nan,
 nan,
 3.433840939726519e-74,
 7.326294622187059e-128,
 0.0,
 0.0,
 nan,
 nan,
 nan,
 1.1087809233036724e-66,
 0.3014560281556078,
 5.5088341699012594e-117,
 0.09628368562688111,
 0.0033903540499379756,
 nan,
 5.662471272470202e-111,
 nan,
 0.0024126634524795033,
 0.0,
 0.0,
 nan,
 nan,
 1.1259187921048903e-16,
 8.020790232740046e-51,
 4.9643559084960035e-34,
 0.05848183042316382,
 0.0001658318661546045,
 9.090704887486456e-224,
 nan,
 2.812417453804943e-40,
 1.1136066313678991e-05,
 1.8034253011012765e-15,
 9.016909234002678e-05,
 nan,
 0.9999999865036903,
 0.008853912245819297,
 0.1280511626382197,
 0.0,
 nan,
 1.0,
 9.791506276027694e-66,
 0.00974153725833715,
 nan,
 nan,
 0.00016129796049697901,
 8.605451454068438e-07,
 0.999999999999912,
 nan,
 nan,
 1.2821792594151689e-200,
 2.1560114541568254e-13,
 nan,
 7.086332254276622e-30,
 0.9999999999546284,
 7.230282268435029e-140,
 9.55356223720511e-10,
 3.3821365726065407e-10,
 6.43098018570145e-16,
 6.019035561842649e-35,
 5.074319971943672e-81,
 8.120983845872805e-10,
 0.0,
 0.0014974996159568936,
 0.9999997513781679,
 1.1172118106776405e-15,
 nan,
 1.0,
 nan,
 2.031005128773819e-06,
 7.316473547345295e-39,
 1.0908771329254014e-13,
 nan,
 0.2888925110527655,
 4.2587552859127115e-29,
 1.0,
 0.17391206091601202,
 8.455457047847294e-261,
 0.0,
 nan,
 4.9557896120893664e-104,
 0.0,
 0.9999997707436896,
 3.835701853571507e-34,
 5.319331325474822e-84,
 0.0,
 nan,
 nan,
 4.557087809452118e-31,
 1.3329351796383856e-73,
 2.2413854579827596e-270,
 nan,
 0.0,
 1.6739160840811012e-74,
 1.8384179871799413e-49,
 1.1131241208237895e-06,
 3.670243855704195e-15,
 2.722836136475933e-47,
 0.02658524450789034,
 0.015211155032391002,
 nan,
 1.2247688486097027e-103,
 0.002412104869865911,
 9.634960488525173e-51,
 7.430758017373693e-08,
 nan,
 2.4274318179771438e-107,
 5.291680504674324e-18,
 1.7717986685777383e-55,
 nan,
 0.9999999996575657,
 nan,
 nan,
 0.007389925547617473,
 0.8637632002114657,
 1.5922395434708074e-07,
 3.707235786956862e-284,
 2.312713174661884e-56,
 4.298943534735187e-05,
 9.679450333458123e-105,
 0.0,
 0.044686293935222235,
 nan,
 4.532833136569168e-52,
 4.365874262790685e-11,
 2.8055488685949507e-157,
 2.9574570140618914e-16,
 2.3754472445823194e-150,
 0.0,
 nan,
 nan,
 nan,
 nan,
 2.698802637029342e-13,
 7.506182389288675e-247,
 nan,
 2.1631725113732156e-08,
 8.334679372431346e-11,
 0.04450313750988358,
 0.9999232479935966,
 nan,
 nan,
 1.0,
 nan,
 3.610991955421344e-126,
 1.0,
 nan,
 1.0220898884403752e-156,
 nan,
 4.923404682356303e-26,
 5.023975600766647e-21,
 0.0560604213713363,
 2.0286735744915987e-207,
 3.876836763322992e-06,
 nan,
 nan,
 0.0,
 0.012616938456077816,
 0.0,
 0.9877676638292461,
 0.3055140515918928,
 1.1726053532647563e-27,
 0.5836258853948026,
 0.03730507134254152,
 nan,
 1.2859346208298533e-25,
 4.7412222061825326e-36,
 1.0,
 7.818817580184264e-15,
 1.0,
 1.0,
 9.216399313770242e-41,
 1.6242447356395496e-139,
 4.8351689428065605e-163,
 0.1475239665216228,
 1.754563545563368e-05,
 0.1839681114742499,
 1.306390568944411e-127,
 0.4639178117275257,
 0.9307070867438806,
 3.337157354177662e-162,
 2.354392884919759e-21,
 0.7717157499466125,
 4.974136627570283e-74,
 nan,
 1.4403867316776092e-208,
 nan,
 2.0420520936027666e-10,
 0.9745661361363638,
 nan,
 1.4240417658614338e-11,
 0.0,
 9.619664248989486e-30,
 6.22901347525762e-49,
 0.0,
 nan,
 0.0,
 5.8443689837393905e-99,
 0.2185278269047327,
 9.284743557144086e-40,
 0.0,
 1.2641921042722354e-38,
 2.2117182210963108e-44,
 nan,
 0.0,
 0.0,
 5.8203179890131325e-78,
 4.583416266591485e-121,
 nan,
 3.09898375659502e-10,
 0.02871456027872301,
 4.0116441498403234e-27,
 8.739044248154433e-144,
 4.030807728199234e-30,
 0.038421482922181054,
 0.0,
 0.05814429092108091,
 nan,
 3.1465075197989916e-10,
 2.473663200777927e-05,
 1.0,
 1.0,
 6.919608256088175e-05,
 0.9998184494956338,
 2.382965300930565e-49,
 0.0,
 3.9817288453481064e-24,
 1.4380801191585947e-64,
 1.02513753240659e-05,
 2.234764886530566e-11,
 1.8307901608661124e-06,
 0.0002680513703275808,
 0.0,
 0.5882763391873246,
 2.416865799507222e-21,
 0.0,
 8.353864286744291e-08,
 0.0,
 2.891433486294045e-23,
 1.7323124532249238e-16,
 nan,
 nan,
 1.0,
 nan,
 4.727778495368447e-13,
 7.197988654977722e-82,
 1.4402980010570664e-22,
 0.1490300286936555,
 nan,
 0.01635902783079319,
 4.9971758102548e-158,
 nan,
 2.1618804160106943e-126,
 1.993279551291828e-07,
 nan,
 0.0,
 3.3074331235271975e-32,
 0.08160365576246115,
 nan,
 2.1359150676790776e-214,
 7.12606960211453e-11,
 8.062173789820877e-86,
 5.68772915292389e-103,
 0.0,
 1.0401778799262812e-15,
 nan,
 0.9990341325291839,
 0.20614764337519786,
 nan,
 nan,
 0.07624439968860709,
 nan,
 1.0607859932565084e-94,
 nan,
 0.0018286156272454787,
 0.22079090891689324,
 2.579661053422489e-159,
 2.4222023425405917e-08,
 0.0,
 nan,
 6.766601448968199e-08,
 2.8348129389211166e-21,
 nan,
 1.0,
 0.0,
 2.950461616727352e-37,
 1.0550939300127736e-09,
 6.856955954405251e-10,
 2.646307330196277e-54,
 1.5955645294603182e-91,
 6.406162548316202e-05,
 8.563030108101263e-12,
 1.4908833598073445e-38,
 6.583392506750261e-252,
 1.0876758743945423e-35,
 nan,
 0.000398780520642838,
 0.3037147205761044,
 2.1235407238259866e-90,
 6.380566535994966e-06,
 nan,
 nan,
 1.174940849501218e-59,
 7.155166400523591e-127,
 3.0160331524491583e-80,
 3.134466455402611e-11,
 0.013834903016171915,
 1.3620733543028217e-110,
 7.18059214690553e-252,
 nan,
 6.268783859907567e-24,
 9.717783401559608e-31,
 0.03383549637019222,
 nan,
 1.0551577019831773e-123,
 4.3584751539205335e-294,
 1.3383474474331176e-112,
 1.0,
 1.8852181030767882e-171,
 1.0778899338099992e-173,
 0.0,
 1.7855210950378362e-28,
 nan,
 8.909103643401344e-46,
 4.2143269557015356e-08,
 1.0,
 0.0,
 nan,
 0.024936437220775036,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 3.3601014753066036e-119,
 nan,
 0.014144228252575252,
 8.489356481073631e-10,
 4.765531054278274e-12,
 nan,
 0.006064745309620715,
 1.0,
 nan,
 nan,
 nan,
 0.0,
 1.6617292732377358e-13,
 4.010318798157561e-12,
 0.05164897913202548,
 nan,
 1.6020257987784864e-275,
 4.8199236792834274e-46,
 1.4891007099003115e-58,
 0.0,
 1.0492503844737344e-26,
 0.0,
 0.0030516683385884715,
 3.8540449595039015e-60,
 9.58882152039977e-114,
 0.004663426394669289,
 nan,
 1.3183337143073891e-42,
 2.9756419455472975e-13,
 1.0,
 0.9986567684575044,
 2.5009554490350984e-06,
 nan,
 3.633421338036453e-08,
 0.0010500594839203711,
 2.096895263362611e-16,
 1.3958487321689498e-48,
 2.445785993817803e-06,
 1.6831197367413586e-06,
 nan,
 nan,
 nan,
 8.123151768264837e-13,
 nan,
 nan,
 nan,
 1.2610226040351197e-33,
 5.431172656546954e-08,
 0.09436775364570582,
 6.274193725063275e-51,
 1.1195021967418386e-26,
 9.489009087195456e-140,
 1.1770328387247618e-47,
 nan,
 0.999999999915111,
 nan,
 0.23255637847024685,
 nan,
 nan,
 2.0338239062871004e-16,
 7.543842238797694e-13,
 nan,
 0.0,
 3.123122682796521e-175,
 nan,
 nan,
 0.0,
 9.908511174123483e-205,
 2.8855492676112087e-12,
 6.722106725339832e-22,
 1.0395394157568929e-40,
 0.0,
 3.717505643332272e-61,
 2.194105222456253e-35,
 1.656420226524757e-06,
 0.17779954258140485,
 nan,
 0.0,
 3.3194212207996014e-163,
 4.3058661778025475e-17,
 0.040745759458405764,
 nan,
 nan,
 3.10890923823509e-77,
 2.9632268433189e-13,
 3.0451927429292515e-30,
 7.605400500248333e-50,
 0.2228474004767948,
 1.3736283530235092e-18,
 nan,
 nan,
 0.01799632640467178,
 9.48141165019147e-74,
 4.551970670004893e-132,
 0.027436292237052448,
 6.629665577735387e-101,
 0.12332100277427899,
 nan,
 0.004956065569070509,
 nan,
 0.010461185716704348,
 1.0,
 0.012088550363175578,
 4.813309346724634e-12,
 0.0005146681975294394,
 nan,
 0.0027263871413906694,
 nan,
 3.582169622830303e-283,
 2.0246119656287482e-22,
 0.012766434219576954,
 0.013454388432868447,
 0.0,
 1.8529709749267427e-30,
 0.033350203118483884,
 6.604995127816787e-37,
 0.4171731252375035,
 nan,
 0.002753312211787179,
 9.918745846591398e-16,
 0.8070069987939434,
 0.1468442442789843,
 nan,
 0.0,
 0.0,
 4.579210233533266e-30,
 0.002017383403023147,
 2.4552883524158244e-71,
 nan,
 nan,
 nan,
 1.5001476586163134e-35,
 2.6336856494936422e-242,
 1.4464275849669001e-18,
 1.0,
 2.37068898295924e-158,
 0.0,
 0.0,
 nan,
 1.305901758951014e-99,
 1.2934505806976266e-09,
 nan,
 2.021812060032671e-30,
 0.03905941435415687,
 1.0647178276862859e-20,
 1.188136513247789e-23,
 0.0,
 0.7165320870158198,
 2.8261882498568856e-85,
 1.7304634335186247e-33,
 9.242472219432866e-219,
 0.17269784176832798,
 2.8808434491146742e-31,
 9.03674653062003e-59,
 1.019085959247204e-121,
 5.629386474193893e-10,
 5.521874311262469e-134,
 1.383963812069194e-43,
 9.191855023131931e-225,
 5.264574089217517e-06,
 2.3452737630813914e-180,
 1.0,
 5.022148261643612e-107,
 nan,
 0.0,
 4.321947271114828e-58,
 4.120125097676202e-96,
 0.0,
 2.499571084155637e-38,
 nan,
 0.0,
 nan,
 0.0,
 1.0,
 nan,
 5.099417071015548e-31,
 nan,
 0.00017052610795287383,
 nan,
 4.661146768981253e-05,
 0.9900461559048184,
 nan,
 1.646376927242093e-140,
 9.78774192776077e-13,
 1.654116821307034e-94,
 4.5669782861245836e-24,
 1.5199467159822265e-257,
 0.0,
 nan,
 4.572751767826365e-16,
 nan,
 nan,
 3.6625957525476196e-194,
 2.1217800317872083e-191,
 0.7809254916807767,
 0.13313463288711813,
 0.5573579050395148,
 nan,
 0.0,
 nan,
 nan,
 nan,
 0.05254102348711185,
 2.5918141531033216e-226,
 1.926849490170463e-11,
 nan,
 5.3300678581345426e-27,
 0.9950318731913305,
 nan,
 4.970433576356367e-06,
 nan,
 0.017490337787795133,
 3.378776085177613e-43,
 1.1690467469775877e-09,
 0.0,
 nan,
 nan,
 nan,
 6.9622543173284315e-289,
 6.754172594450887e-119,
 5.347746188520207e-30,
 4.4270315908838846e-157,
 0.0,
 2.9692570197208303e-72,
 0.0,
 3.322336971444865e-08,
 3.0159769332278856e-75,
 nan,
 4.165226984695082e-16,
 nan,
 ...]